#header {
  min-height: 30px;
     margin-bottom: 25px;
    margin-top: 25px;
  /*    border: 5px solid darkorange;*/
  /*
    margin-right:150px;
    margin-left:150px;
*/
}

span {
  position: relative;
  margin-left: 200px;
  margin-bottom: 0px;
}

#header1 {
  position: relative;
  float: right;
  bottom: 95px;
  color: white;
  right: 350px;
  font-family: serif;
  font-size: 2em;
}

#header2 {
  position: relative;
  float: left;
  bottom: 75px;
  color: darkorange;
  left: 200px;
  font-family: monospace;
  font-size: 0.8em;
  margin-left: 200px;
  margin-right: 350px;
}

#container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 25px;
/*
  margin-bottom: 25px;
  background-color: black;
*/
    
}

.nav-area {
  background: black;
    margin-right: 65px;
}

.nav-area:after {
  content: "";
  clear: both;
  display: block;
}

.nav-area ul {
  list-style: none;
  margin: 0;
}

.nav-area > ul > li {
  float: left;
  position: relative;
  bottom: 30px;
  left: 30px;
/*  border: 1px solid dimgrey;*/

}

.nav-area ul li a {
  text-decoration: none;
  color: white;
  padding: 25px;
  display:inline-block;
    width: 100%;


}

.nav-area ul li:hover a {
  background: darkorange;
}

.nav-area ul ul {
  position: absolute;
  padding: 5px;
  min-width: 200px;
  display: none;
  top: 50px;
  left: 0;
}

.nav-area ul li:hover > ul {
  display: block;
}
.nav-area ul ul li:hover a {
  background: black;
  
}
.nav-area ul ul li {
  position: relative;
  padding: 15px;
  display: block;
  min-width: 250px;
  max-height: 50px;
  bottom: 20px;
    z-index: 1;
   

}

#container {
  margin-right: 150px;
  margin-left: 220px;
    top: 80px;
}

.img1 {
  bottom: 50px;
  position: relative;

}

/*
.span1{
    margin-right: 50px;
    margin-left: 250px;
}
*/

#container1{
    margin-right: 50px;
    margin-left: 50px;
    padding:10px;
    min-height: inherit;
}

 #toggleThis{
    color:darkorange;
    padding: 5px;
    font-size: 1.0em;
    border: 1px solid darkorange;
    background-color: dimgray;
    float:left;
    width:80%;
    text-align: left;
    margin-left: 90px;
    

}

#content{
    width:80%
    padding: 15px;
   position: relative;
    margin-top: 45px;
   display: none;
    float:left;
    margin-left:65px;
    text-align: left;

    
}

#container2{
    margin-right: 50px;
    margin-left: 50px;
    padding:10px;
    min-height: inherit;
}




 #panelheader{
    color:darkorange;
    padding: 5px;
    font-size: 1.0em;
    border: 1px solid darkorange;
    background-color: dimgray;
    float:left;
    width:80%;
    text-align: left;
    margin-left: 90px;
}

#item{
    width:80%
    padding: 15px;
   position: relative;
    margin-top: 45px;
   display: block;
    float:left;
    margin-left:65px;
    text-align: left;

    
}


/*
type 1{
    background-color: black;
    margin-left: 25px;
    bottom: 35px;
}


type 2{
    background-color: black;
    margin-left: 25px;
    bottom: 40px;
}

.dropbtn{
    color:darkorange;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid darkorange;
    background-color: dimgray;
    float:left;
    width:1000px;
    text-align: left;
}

.dropbtn-bar{
    color:darkorange;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid darkorange;
    background-color: dimgray;
    float:left;
    width:1000px;
    text-align: left;
}

.dropdown{
    position: relative;
    display:inline-block;
    left:45px;
    bottom: 10px;
}

.dropdown-bar{
    position: relative;
    display:inline-block;
    left:45px;
    bottom: 10px;
}
.dropdown-content {
  display: none;
  padding: 5px;
  top:60px;
  position: absolute;
    float:left;
    margin-right:75px;
    text-align: left

    
  
}

.dropdown-info {
  display: none;
  padding: 5px;
  top:60px;
  position: absolute;
    float:left;
    margin-right:75px;
    text-align: left

    
  
}


.dropdown:hover .dropdown-content {
  display:block ;
}

.dropdown 1:hover .dropdown-content 1{
  display:block ;
}

.dropdown:hover .dropbtn {
  color: black;
}

.dropdown 1:hover .dropbtn 1{
  color: black;
}

*/



table th {
    border: 1px solid darkorange;
    border-collapse: collapse;
    margin-right: 10px;
    padding: 5px;
    color: darkorange;
    background-color: white;

}

table#t01 tr: nth-child(even){
    background-color: dimgrey;
}

img{
    margin-bottom: 15px;
    margin-top: 15px;
}

.text{
    color: darkorange;
    font-size: 2.0em;
    font-family:fantasy;
}

ul li{
    color: darkorange;
    font-size: 1.0em;
    font-family: serif;
}

.container{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:65px;
    
}
caption{
    width: 100%;
    background-color: white;
    color: darkorange;
    border: 1px solid darkorange;
    border-collapse: collapse;
    padding: 15px;
}

table,th, td{
    border: 1px solid darkorange;
    border-collapse: collapse;
    padding: 10px;
    margin-right: 75px;
    margin-left: 5px;
}

th, td{
    padding: 5px;
    text-align: left;
    color: darkorange;
}

.second{
    float: right;
   margin-bottom: 550px;
    
    

}

table#second, th, td{
    border: 1px solid darkorange;
    border-collapse: collapse;
    margin-left: 5px;
     margin-right: 80px;
}

table#third,  td{
     border: 1px solid darkorange;
    border-collapse: collapse;
    margin-left: 5px;
    margin-right: 80px;
}

table#fourth,  td{
     border: 1px solid darkorange;
    border-collapse: collapse;
    margin-left: 5px;
     margin-right: 80px;
    
}

#footer {
  position: relative;
  min-height: 80px;
  width: 100%;
  background-color: black;
  float: left;
  text-align: left;
  color: darkorange;
  top: 90px;
margin-right:100px;
}




